h1 {
  font-family: "Travesty", Arial, sans-serif;
  font-weight: 400;
  color: white;
  font-size: 2rem;
  line-height: 2.2rem;
  margin-bottom: 10px;
}
h2 {
  font-family: "Travesty", Arial, sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1.5rem;
  line-height: 1.7rem;
  margin-bottom: 10px;
}
p {
  font-family: "Travesty", Arial, sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1rem;
  line-height: 1.2rem;
}
